:root {
    --zebra: rgba(174, 174, 174, 0.5);
    --header: rgba(107, 107, 255, 0.5);
    --col-head: rgba(194, 194, 255, 0.5);

}

caption {
    caption-side: bottom;
    font-size: 12px;
    margin-top: 10px;
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: var(--zebra);
}

th {
    background-color: var(--col-head);
}

.table-head {
    background-color: var(--header);
}