@media screen and (min-width: 500px) {

    nav {
        text-align: center;
        padding: 10px;
        display: flex;
    }

    #menu {
        display: none;
    }

    nav,
    ul,
    li {
        background-color: #FABB64;
    }

    nav a:hover {
        background-color: #FAEFA1;
    }

    nav a {
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
    }

    nav li {
        display: inline-block;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .description {
        grid-column: 1/4;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .news-card {
        grid-column: 1/2;
    }

    .learn-card {
        grid-column: 2/3;
    }

    .weather-card {
        grid-column: 3/4;
    }

    #lower-section {
        display: grid;
        margin-top: 20px;
        grid-column: 1/4;
    }

    .who-card {
        grid-column: 1/2;
    }

    .company-card {
        grid-column: 2/3;
    }
}