@media screen and (min-width: 800px) {

    nav {
        text-align: center;
        padding: 10px;
        display: flex;
        background-color: rgba(250, 187, 100, 0.7);
    }

    #menu {
        display: none;
    }

    header {
        margin-left: 3rem;
        font-size: 17.4px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
    }

    nav a:hover {
        background-color: #FAEFA1;
    }

    nav li {
        display: inline-block;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        list-style-type: none;
        background-color: transparent;
    }

    .description {
        grid-column: 1/4;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .news-card {
        grid-column: 1/2;
    }

    .learn-card {
        grid-column: 2/3;
    }

    .weather-card {
        grid-column: 3/4;
    }

    #lower-section {
        display: grid;
        margin-top: 20px;
        grid-column: 1/4;
    }

    .who-card {
        grid-column: 1/2;
    }

    .company-card {
        grid-column: 2/3;
    }

    .discover-main {
        display: grid;
        grid-template-columns: .25fr 1fr;
        margin-left: 0;
        margin-right: 3%;
        max-width: 100%;
    }

    .sidebar section {
        border-radius: 0;
        margin-bottom: 0;
        margin-left: 0;
        width: 20rem;
    }

    .images {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 5%;
    }

    .downtown div {
        margin-top: -100px;
        margin-bottom: 100px
    }

    .goldfield div {
        margin-top: -100px;
    }

    .temple div {
        margin-top: -100px;
    }

    .lake div {
        margin-top: -100px;
    }

    .river div {
        margin-top: -100px;
    }

    .welcome div {
        margin-top: -100px;
    }

    .visits {
        margin-top: 0;
    }

    .images img:hover {
        box-shadow: 5px 5px 10px #6f7364;
    }

    .list h2 {
        font-size: 1rem;
    }

    .list p {
        all: unset;
        font-size: 1rem;
    }

    .list a {
        font-size: 1rem;
    }


}