body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 245, 245);
    font-family: "Zilla Slab", sans-serif;
}

header {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #1C67E6;
    color: rgb(250, 245, 245);
    height: 200px;
    font-family: "Pacifico", sans-serif;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

header h1 {
    display: block;
    margin-right: auto;
    font-size: 50px;
}

.classname {
    padding-left: 100px;
    border-bottom: 2px solid black;
}

main {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-gap: 1rem;
    max-width: 1300px;
}

main h1 {
    grid-row: 1/2;
    grid-column: 1/4;
}

section {
    display: grid;
    grid-template-rows: 70px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #D1DCE8;
}

section h2 {
    grid-row: 1/2;
    text-align: center;
    background-color: #D1DCE8;
    max-width: 100%;
}

section p {
    padding-left: 50px;
    padding-bottom: 30px;
}

section ul {
    padding-left: 50px;
    padding-bottom: 30px;
    list-style-type: none;
}

.learning-card {
    grid-column: 2/3;
}

.info-card {
    grid-column: 2/3;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #1C67E6;
    color: rgb(250, 245, 245);
}

nav ul {
    list-style-type: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: relative;
    left: 0;
    top: 0;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

nav a {
    display: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #00B6E5;
    color: #D3E3DC;
}

.open a {
    display: block;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-size: 1rem;
    color: black
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.header-dark-mode {
    background-color: rgb(0, 0, 146)
}

.section-dark-mode {
    background-color: #005362;
    color: white;
}

.hero-picture {
    grid-column: 1/4;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    text-align: center;
}

.hero-picture img {
    width: 100%;
    display: block;
}

.hero-label span {
    grid-column: 1/4;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 55%;
    left: 20%;
    font-size: 2rem;
    font-family: "Pacifico", sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
}

.home-map {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    padding-bottom: 40%;
    text-align: center;
    height: 0;
    overflow: hidden;
}

.home-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}